<div class="row">
    <div class="account-periods-list col-3">
        <div class="card sticky-top">
            <div class="card-header">
                <h4>{{this.account.name}}</h4>
            </div>
            <div class="card-body">
                <h6 [class.text-danger]='getRealAmount() < 0' [class.text-success]='getRealAmount() > 0'>Real Amount : {{getRealAmount().toFixed(2)}}</h6>
                <h6 [class.text-danger]='getBankAmount() < 0' [class.text-success]='getBankAmount() > 0'>Bank Amount : {{getBankAmount().toFixed(2)}}</h6>
                <h6>Saved Amount : </h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="fa fa-plus pull-Left"></small> Add Period</li>
                <li class="list-group-item"><small class="fa fa-cog pull-Left"></small> Preferences</li>
            </ul>
            <!-- <div class="card-body">
                <h4>PERIOD</h4>
                <h6 [class.text-danger]='getRealAmount() < 0' [class.text-success]='getRealAmount() > 0'>Real Amount : {{getRealAmount().toFixed(2)}}</h6>
                <h6 [class.text-danger]='getBankAmount() < 0' [class.text-success]='getBankAmount() > 0'>Bank Amount : {{getBankAmount().toFixed(2)}}</h6>
                <h6>Saved Amount : </h6>
            </div> -->
        </div>
    </div>
    
    <div class="account-periods-list col-9">
        <app-account-period *ngFor='let period of this.account.periods' 
        [period]="period"
        [tagColors]="this.account.tagColors">
    </app-account-period>
</div>
</div>