.account-operation {
    list-style-type: none;
    padding-left: 0px;
    padding: 2px 0px;
    display: flex;
}

.account-operation li {
    padding: 0px 5px;
}

.account-operation-checked { width: 1em; }
.account-operation-date { 
    width: 6em; 
    text-align: center;
}
.account-operation-type { width: 10em; }
.account-operation-amount { 
    width: 5em; 
    text-align: right;
}

/* WHY DOESNT WORK !!! */
.account-operation-even .account-operation {
    background-color: red;
}
