
<!-- <div class="account-period">
    <div class="account-period-header">
        <h5>{{this.period.name}}</h5>
    </div>
    <div class="card-body">
        <app-account-operation 
        *ngFor='let operation of period.operations;
        let index =index;
        let isOdd=odd;
        let isEven=even' 
        [operation]="operation"
        [class.account-operation-odd]="isOdd" 
        [class.account-operation-even]="isEven">
    </app-account-operation>
</div> -->

<div class="card">
    <div class="card-header" >
        <h4>
            <span (click)='toogleCollapse()'>
                <small class="pull-right" class="fa fa-chevron-right" [class.hidden]="!collapse"></small>
                <small class="pull-right" class="fa fa-chevron-down" [class.hidden]="collapse"></small>
                {{this.period.name}} 
            </span>
            <small class="fa fa-plus" (click)='addOperation()'></small>
        </h4>
    </div>
    <div class="card-body" [class.hidden]="collapse">
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <!-- <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead> -->
                <tbody>
                    <tr *ngFor='let operation of period.operations'>
                        <td><input type="checkbox" [(ngModel)]="operation.checked" /></td>
                        <td><input type="date" [(ngModel)]="operation.date" /></td>
                        <td><input type="text" [(ngModel)]="operation.type" /></td>
                        <td><input type="number" [(ngModel)]="operation.amount" /></td>
                        <td><input type="text" [(ngModel)]="operation.comment" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


