<div class="card">
    <div class="card-header" >
        <h4>
            <span (click)='toogleCollapse()'>
                <small class="pull-right" class="fa fa-chevron-right" [class.hidden]="!collapse"></small>
                <small class="pull-right" class="fa fa-chevron-down" [class.hidden]="collapse"></small>
                {{this.period.name}} 
            </span>
            <small class="fa fa-plus" (click)='addOperation()'></small>
        </h4>
    </div>
    <div class="card-body" [class.hidden]="collapse">
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <tbody>
                    <tr *ngFor='let operation of period.operations'>
                        <td><input type="checkbox" [(ngModel)]="operation.checked" /></td>
                        <td><input type="date" [(ngModel)]="operation.date" /></td>
                        <td><input type="text" [(ngModel)]="operation.type" /></td>
                        <td><input type="number" [(ngModel)]="operation.amount" [class.text-danger]="operation.amount < 0" [class.text-info]="operation.amount > 0" /></td>
                        <td><input type="text" [(ngModel)]="operation.comment" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


