.card-header {
    text-transform: uppercase;
}

/* checkbox */
td:nth-child(1) > input {
    width: 40px;
}
/* date */
td:nth-child(2) > input {
    width: 120px;
}
/* type */
td:nth-child(3) > input {
    width: 200px;
}
/* amount */
td:nth-child(4) > input {
    width: 100px;
    text-align: right;
}

input {
    background: none;
    border: none;
    font: consolas;
}

.hidden {
    display: none;
}